
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"><title> Preguntas </title>

    </head>

    <body>
    <div>

        <div id="miFoto"></div>

        <div id="aut"><h3>Datos del autor: <%= title %></h3></div>

        <div id="vid"><a href="../videos/SettingG.mp4">video</a></div>


    </div>
    </body>
</html>
