*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%;
                      margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;}
#ErrorMsgs           { color: #f61; font-size: smaller}
.right {float: right;}



#miFoto{
    width: 120px;
    height:100px;
    left:5px;
    top:5px;
    font-size: 15px;
    color: black;
    text-align:center;

    background: url('../images/myP.jpg');
    background-size: 100% 100%;

    position: relative;

    border: 1px solid white;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 0px 0px 10px white;
    -webkit-box-shadow: 0px 0px 10px white;
    -o-box-shadow: 0px 0px 10px white;
    -moz-box-shadow: 0px 0px 10px white;
}

#aut{
    text-align:left;
}

#vid{
    position: relative;
    top:10px;
    text-align:left;
}

